 /* Styling for sidebar */
 *{
  font-size: 14px;
 }
 .sidebar {
    margin-top: 58px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    overflow-y: scroll;
  }

  @media screen and (max-width: 780px){
    .sidebar-mobile {
      margin-top: 58px;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      overflow-y: scroll;
    }
  }

  .sidebar2 {
    margin-top: 58px;
    position: fixed;
    top: 0;
    right: 0;
    height: fit-content;

    margin-right: 25px;
    width: 200px;
    overflow-x: hidden;
    
  }

  hr.separator{
    border: 1px solid black;
    margin: 10%;
  }

  hr.separator2{
    border: 1px solid black;
    margin-top: 5%;
    margin-bottom: 5%;
 
  }
  /* Styling for content area */
  .content {
    margin-top: 58px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 20px 75px;
  }

  @media screen and (max-width: 780px){
    .full-screen {
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding: 20px !important;
    }
  }
  

  .buttonsidebar1{
    text-align: center;
    border: none;
    color: rgb(45, 45, 45);
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 2%;
  }

  .buttonsidebar1:hover {
    background-color: rgba(18, 195, 148, 0.101);
    color:  rgb(45, 45, 45);
  }

  .buttonsidebar2{
    text-align: left;
    border: none;
    color: rgb(45, 45, 45);
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 2%;
  }

  .buttonsidebar2:hover {
    background-color: rgba(137, 137, 137, 0.192);
    color: rgb(45, 45, 45);
  }

  .btn_active{
    text-align: start; 
    background-color: rgba(19, 229, 187, 0.204); 
    border: none;
  }

  .btn_inactive{
    text-align: start; 
    background-color: rgba(9, 16, 58, 0.131); 
    border: none;
  }

  .btn_active:hover{
    text-align: start; 
    background-color: rgba(27, 169, 141, 0.505); 
    border: none;
    color: white;
  }

  .btn_inactive:hover{
    text-align: start; 
    background-color: rgba(9, 16, 58, 0.524); 
    border: none;
    color: white;
  }

  .reply-input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
  .edit-answer:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
  .edit-answer {
    border: 0px; border-radius: 20px; background-color: rgb(241, 245, 249);
}

.reply-submit:hover {
  background: none !important;
  background-color: transparent !important;
  border: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
  color: rgb(174, 255, 197) !important;
}
.reply-submit:focus {
  background: none !important;
  background-color: transparent !important;
  border: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
  color: rgb(174, 255, 197) !important;
}