{% extends 'base.html' %}

{% block head %}
   
{% endblock %}
{% block body %}
<br>
<br>
<section>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content">
            <p class="title fs-1 has-text-primary">Team Final Project 2<br> Group 3</p>
            <p class="subtitle fs-5 has-text-justified">Tim developer kami terdiri dari empat orang fullstack developer yang berdedikasi untuk menciptakan aplikasi forum diskusi kesehatan dan kecantikan yang inovatif dan bermanfaat. Kami bekerja sama dengan tekun, menggunakan keahlian kami dalam desain dan pemrograman untuk memberikan pengalaman terbaik kepada pengguna.</p>
          
          </div>
        </div>
        <div class="column">
          <figure class="image w-75">
            <img src="../static/page_images/about1.jpg" alt="Image">
          </figure>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <figure class="image w-75">
            <img src="../static/page_images/about2.jpg" alt="Image">
          </figure>
        </div>
        <div class="column">
          <div class="content">
            <p class="subtitle fs-5 has-text-justified">Dalam tim kami, terdapat:</p>
            <ul>
              <li class="subtitle fs-5 has-text-justified">Naufal Rifqi Zuhrian - sebagai Fullstack Developer</li>
              <li class="subtitle fs-5 has-text-justified">Jeli Sinaga - sebagai Fullstack Developer</li>
              <li class="subtitle fs-5 has-text-justified">Nur Aeni - sebagai Fullstack Developer</li>
              <li class="subtitle fs-5 has-text-justified">Wahyu Cipto Ribowo - sebagai Fullstack Developer</li>
            </ul>
            <p class="subtitle fs-5 has-text-justified">Kami dengan bangga menghadirkan aplikasi forum diskusi kesehatan dan kecantikan yang memadukan keahlian teknologi dan kepedulian terhadap kesehatan dan kecantikan.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}