<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link
    href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/css/mystyle.css">
    <link rel="stylesheet" href="../static/css/base_after.css">

    <!-- Block untuk Title -->
    {% block head %}
        
    {% endblock %}
</head>
<body style="background-color: rgb(241, 245, 249);">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg is-fixed-top shadow-sm" style="background-color: white;">
        <div class="container-fluid">
          <a class="navbar-text has-text-weight-bold h5 m-0 mx-3" href="/">
            Forum H&B</a>
            <div class="navbar-text mx-5">
            
              {% block title %}
              
              {% endblock %}
          
          </div>

          <button id="sidebarToggle" onclick="toggle_sidebar()" class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
             

              <a href="#" class="button is-primary is-outlined me-2" style="border: none;">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                  <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                </svg></span>
                <span>3</span>
              </a> 

           
              <a class="image rounded-circle" onclick="dropdown_menu()" href="#" style="width: 42px;height: 42px; border-color: rgb(16, 79, 108); border-style: solid; border-width: 1px;">
                <img class="is-rounded" src="../static/{{ user_info.profile_pic_real }}">
              </a>
              
              <div class="dropdown is-right" id="profile_drop">
                <div class="dropdown-menu">
                  <div class="dropdown-content">
                    <a href="/user/{{ user_info.username }}" class="dropdown-item">
                      Profile
                    </a>
                    
                    <hr class="dropdown-divider">
                    <a onclick="sign_out()" class="dropdown-item">
                      Logout
                    </a>
                  </div>
                </div>
              </div>
      
             
            </div>
          </div>
        </div>
      </nav>
    <!-- Block untuk body -->
      
   <!-- Sidebar -->
   <div id="sidebar" class="sidebar is-hidden-mobile sidebar-mobile">
    <ul>
      <div class="px-5 pt-5 w-100">
        <div class="field has-addons w-100">
          <div class="control w-100">
            <input class="input" type="text" placeholder="Search by keyword">
          </div>
          <div class="control">
            <a class="button is-primary">
              <span class="bi bi-search"></span>
            </a>
          </div>
        </div>
        
      </div>
      <hr class="separator" style="margin-top: 20px; margin-bottom: 20px;">
      <p class="h6 has-text-weight-bold px-5 text-body-tertiary">Menu</p>
      <li class="d-flex flex-row">
        <span style="background-color: rgb(0, 192, 131); color: white; width: 10px; height: 36px;"></span>
        <a href="/" class="btn is-radiusless w-100 px-5 has-text-weight-bold" style="text-align: start; background-color: rgba(19, 229, 187, 0.204); border: none;"><span class="ps-3">Discussions</span></a></li>
      <div>
        
        <a class="buttonsidebar1" href="/create_post"><span class="bi bi-plus-square pe-3"></span>Start Discussion
        </a>
      </div>
      
      <li><a href="/topics" class="btn is-radiusless w-100 px-5 has-text-weight-bold" style="text-align: start; background-color: rgba(9, 16, 58, 0.131); border: none;"><span class="ps-3">Topics</span></a></li>
      <div>
        <a class="buttonsidebar2 ps-5" href="/topics"><span>Nutrisi dan Diet</span></a>
        <a class="buttonsidebar2 ps-5" href="/topics"><span>Pencegahan penyakit</span></a>
        <a class="buttonsidebar2 ps-5" href="/topics"><span>Olahraga dan kebugaran</span></a>
        <a class="buttonsidebar2 ps-5" href="/topics"><span>Perawatan kulit alami</span></a>
        <a class="buttonsidebar2 ps-5" href="/topics"><span>Perawatan wajah</span></a>
        <a class="buttonsidebar2 ps-5 has-text-weight-bold" href="/topics"><span>See More</span></a>
      </div>
      <hr class="separator" style="margin-top: 20px; margin-bottom: 20px;">
      <div style="margin-bottom: 30%;">
        <p class="h6 has-text-weight-bold px-5 text-body-tertiary">Your Activity</p>
        <li><button class="btn is-radiusless w-100 px-5 has-text-weight-bold" style="text-align: start; background-color: rgba(9, 16, 58, 0.131); border: none;"><span class="ps-3">Your Question</span></button></li>
        <li><button class="btn is-radiusless w-100 px-5 has-text-weight-bold" style="text-align: start; background-color: rgba(9, 16, 58, 0.131); border: none;"><span class="ps-3">Your Answer</span></button></li>

      </div>
      
      <div id="profile2" class="d-flex flex-row px-4 py-2 shadow-lg is-hidden-desktop" style="margin-top: 40%; background-color: rgb(255, 255, 255);">
       
        <a class="image rounded-circle me-2" onclick="toggle_dropmenu()" href="#" style="width: 42px;height: 42px; border-color: rgb(16, 79, 108); border-style: solid; border-width: 1px;">
          <img class="is-rounded" src="../static/{{ user_info.profile_pic_real }}">
        </a>

       
        <a href="#" class="button is-outlined me-2 is-paddingless" style="border: none;">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
          </svg></span>
          <span>3</span>
        </a> 

      </div>
      <div id="dropmenu_mobile" class="is-hidden-desktop is-hidden-mobile">
        <a class="buttonsidebar2 ps-5" href="/user/{{ user_info.username }}"><span>Profile</span></a>
        <hr class="separator" style="margin: 0%;">
        <a class="buttonsidebar2 ps-5" onclick="sign_out()"><span>Logout</span></a>
      </div>

    </ul>
  </div>

  <!-- Content area -->
  <div class="content full-screen">
    {% block body %}
        
    {% endblock %}
  </div>
  
  <div id="sidebar" class="sidebar2 pt-5 is-hidden-mobile">
    <ul>

        <p class="h6 has-text-weight-bold text-body-tertiary">Popular Post</p>
        <hr class="separator2">

      <div id="popular-posts">
      
        <li>Post 1</li>
        <li>Post 2</li>
      </div>
      
      
      <br>
      
        <p class="h6 has-text-weight-bold text-body-tertiary">Must Read</p>
        <hr class="separator2">
      <div id="must-read">
          <li>Post 1</li>
          <li>Post 2</li>
      </div>
      
     
    </ul>
  </div>
  




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>
        function toggle_sidebar(){
      
          $('#sidebar').toggleClass('is-hidden-mobile'); // Menambahkan atau menghapus kelas is-hidden-mobile
          $('.content').toggleClass('is-hidden-mobile')
          
        }

        function dropdown_menu(){
          $('#profile_drop').toggleClass('is-active')
        }

        function toggle_dropmenu(){
          $('#dropmenu_mobile').toggleClass('is-hidden-mobile')
        }

        function sign_out(){
          $.removeCookie('my_token', {path : '/'});
          alert('Signed out');
          window.location.href = '/login'; 
        }

      </script>
    <!-- Block untuk script JS -->
    {% block script %}
      
    {% endblock %}
</body>
</html>