<!DOCTYPE html>
<html lang="en">
<head>


    <link
    rel="icon"
    href="../static/logo/logo.svg"
    type="image/x-icon"
    />
    <meta property="og:title" content="Forum Discussion - Health & Beauty" />
    <meta property="og:description" content=" This forum focuses on health and beauty topics to assist individuals facing health and beauty issues, and to simplify access to online doctor consultations for individuals encountering work-related challenges." />
    <meta
        property="og:image"
        content="{{ url_for('static', filename='/page_images/home.jpg') }}"
    />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link
    href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/css/mystyle.css">
    <link rel="stylesheet" href="../static/css/base_after.css">

    <style>

      .notification-container {
        position: absolute;
        top: 100%;
        right: 0;
        width: 300px;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        display: none; /* Default: sembunyikan */
        height: 500px;
        overflow-y: scroll;
      }

      .notification-container-mobile {
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        display: none; /* Default: sembunyikan */
        
      }

    </style>
    <!-- Block untuk Title -->
    {% block head %}
        
    {% endblock %}
</head>
<body style="background-color: rgb(241, 245, 249);">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg is-fixed-top shadow-sm" style="background-color: white;">
        <div class="container-fluid">
          <div>
            <a href="/">
              <img src="../static/logo/logo.svg" style="width: 30px; height: 30px;" alt="">
            </a>
            <a class="navbar-text has-text-weight-bold h5 m-0 mx-3 is-hidden-mobile" href="/">
              Forum H&B</a>
          </div>
          
            <div class="navbar-text mx-5">
            
              {% block title %}
              
              {% endblock %}
          
          </div>

          <button id="sidebarToggle" onclick="toggle_sidebar()" class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
             

              <a href="#" id="notification-btn" class="button is-primary is-outlined me-2 reply-submit" style="border: none;">
                <span class="bi bi-bell" style="font-size: 24px;"></span>
                <span id="notif_count"></span>
              </a> 
              
              <div id="notification-container" class="notification-container" style="border-radius: 20px; background-color: rgb(241, 245, 249);">
                <div id="notification-content" class="card" style="border-radius: 20px; background-color: rgb(241, 245, 249);">
                  <div class="card-body">
                    
                      <p>Coming Soon</p>
                    
                  </div>     
                </div>
              </div>
              

           
              <a class="image rounded-circle" onclick="dropdown_menu()" href="#" style="width: 42px;height: 42px; border-color: rgb(16, 79, 108); border-style: solid; border-width: 1px;">
                <img class="is-rounded" src="../static/{{ user_info.profile_pic_real }}">
              </a>
              
              <div class="dropdown is-right" id="profile_drop">
                <div class="dropdown-menu">
                  <div class="dropdown-content">
                    <a href="/user/{{ user_info.username }}" class="dropdown-item">
                      Profile
                    </a>
                    {% if user_info.role == 'admin' %}
                    <a class="dropdown-item" href="/verification_datas"><span>Verify Expert</span></a>
                    <a class="dropdown-item" href="/report_data"><span>Report Data</span></a>
                  {% endif %}
                    <hr class="dropdown-divider">
                    <a onclick="sign_out()" class="dropdown-item">
                      Logout
                    </a>
                  </div>
                </div>
              </div>
      
             
            </div>
          </div>
        </div>
      </nav>
    <!-- Block untuk body -->
      
   <!-- Sidebar -->
   <div id="sidebar" class="sidebar is-hidden-mobile sidebar-mobile">
    <ul>

      <br>
      <p class="h6 has-text-weight-bold px-5 text-body-tertiary">Menu</p>
      <li class="d-flex flex-row">
        <span id="span_discussions" style="background-color: rgb(0, 192, 131); color: white; width: 10px; height: 36px;"></span>
        <a id="btn_discussions" href="/" onclick="toggle_btndiscussions()" class="btn btn_active is-radiusless w-100 px-5 has-text-weight-bold"><span class="ps-3">Discussions</span></a></li>
      <div>
        
        <a class="buttonsidebar1" href="/create_post"><span class="bi bi-plus-square pe-3"></span>Start Discussion
        </a>
      </div>
      
      <li class="d-flex flex-row">
        <span id="span_topics" class="is-hidden" style="background-color: rgb(0, 192, 131); color: white; width: 10px; height: 36px;"></span>
        <a href="/topics" id="btn_topics" onclick="toggle_topics()" class="btn btn_inactive is-radiusless w-100 px-5 has-text-weight-bold"><span class="ps-3">Topics</span></a></li>
      <div>
        <a class="buttonsidebar2 ps-5" href="/topic/nutrition"><span>Nutrisi dan Diet</span></a>
        <a class="buttonsidebar2 ps-5" href="/topic/prevention"><span>Pencegahan penyakit</span></a>
        <a class="buttonsidebar2 ps-5" href="/topic/fitness"><span>Olahraga dan kebugaran</span></a>
        <a class="buttonsidebar2 ps-5" href="/topic/natural-skin-care"><span>Perawatan kulit alami</span></a>
        <a class="buttonsidebar2 ps-5" href="/topic/facial-care"><span>Perawatan wajah</span></a>
        <a class="buttonsidebar2 ps-5 has-text-weight-bold" href="/topics"><span>See More</span></a>
      </div>
      <hr class="separator" style="margin-top: 20px; margin-bottom: 20px;">
      <div style="margin-bottom: 30%;">
        <p class="h6 has-text-weight-bold px-5 text-body-tertiary">Your Activity</p>
        <li class="d-flex flex-row">
        <span id="span_urquestion" class="is-hidden" style="background-color: rgb(0, 192, 131); color: white; width: 10px; height: 36px;"></span>
        <a href="/#" id="btn_urquestion" onclick="toggle_yourquestion()" class="btn btn_inactive w-100 px-5 has-text-weight-bold is-radiusless"><span class="ps-3">Your Question</span></a></li>
        <!-- <li class="d-flex flex-row"><button class="btn is-radiusless w-100 px-5 has-text-weight-bold" style="text-align: start; background-color: rgba(9, 16, 58, 0.131); border: none;"><span class="ps-3">Your Answer</span></button></li> -->

      </div>
      
      <div id="profile2" class="d-flex flex-row px-4 py-2 shadow-lg is-hidden-desktop" style="margin-top: 40%; background-color: rgb(255, 255, 255);">
       
        <a class="image rounded-circle me-2" onclick="toggle_dropmenu()" style="width: 42px;height: 42px; border-color: rgb(16, 79, 108); border-style: solid; border-width: 1px;">
          <img class="is-rounded" src="../static/{{ user_info.profile_pic_real }}">
        </a>

       <div style="position: relative;">
        <a id="notification-btn-mobile" class="button is-primary is-outlined me-2 reply-submit"style="border: none;">
          <span class="bi bi-bell" style="font-size: 24px;"></span>
          <span id="notif_countMobile"></span>
        </a> 
        
      </div>
      </div>
      <div id="notification-container-mobile" class="notification-container-mobile" style="border-radius: 20px; background-color: rgb(241, 245, 249);">
        <div id="notification-content-mobile" class="card" style="border-radius: 20px; background-color: rgb(241, 245, 249);">
          <div class="card-body">
            
              <p>Coming Soon</p>
            
          </div>     
        </div>
      </div>
      <div id="dropmenu_mobile" class="is-hidden-desktop is-hidden-mobile">
        <a class="buttonsidebar2 ps-5" href="/user/{{ user_info.username }}"><span>Profile</span></a>
       
        {% if user_info.role == 'admin' %}
          <a class="buttonsidebar2 ps-5" href="/verification_datas"><span>Verify Expert</span></a>
          <a class="buttonsidebar2 ps-5" href="/report_data"><span>Report Data</span></a>
        {% endif %}
        <hr class="separator" style="margin: 0%;">
        <a class="buttonsidebar2 ps-5" onclick="sign_out()"><span>Logout</span></a>
      </div>

    </ul>
  </div>

  <!-- Content area -->
  <div class="content full-screen">
    {% block body %}
        
    {% endblock %}
  </div>
  
  <div id="sidebar" class="sidebar2 pt-5 is-hidden-mobile">
    <ul>

        <p class="h6 has-text-weight-bold text-body-tertiary">Popular Post</p>
        <hr class="separator2">

      <div id="popular-posts">
      
        <li>Post 1</li>
        <li>Post 2</li>
      </div>
      
      
      <br>
      
        <p class="h6 has-text-weight-bold text-body-tertiary">Must Read</p>
        <hr class="separator2">
      <div id="must-read">
          <li>Post 1</li>
          <li>Post 2</li>
      </div>
      
     
    </ul>
  </div>
  




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="../static/js/notifications.js"></script>
    <script>
      $(document).ready(function() {

        getNotifications()

        const notificationBtn = $('#notification-btn');
        const notificationContainer = $('#notification-container');
        const notificationBtnM = $('#notification-btn-mobile');
        const notificationContainerM = $('#notification-container-mobile');
      
        notificationBtn.click(function() {
          getNotifications()
          notificationContainer.slideToggle();
        });
        notificationBtnM.click(function() {
          getNotifications()
          notificationContainerM.toggle();
          window.location.href = '/#notification-container-mobile'
        });
      });
      </script>
            
    <script>
      
        function toggle_yourquestion(){
          get_posts('{{ user_info._id }}')
          $('#span_discussions').addClass("is-hidden")
          $('#span_urquestion').removeClass("is-hidden")
          $('#btn_discussions').addClass("btn_inactive")
          $('#btn_discussions').removeClass("btn_active")
          $('#btn_urquestion').addClass("btn_active")
          $('#btn_urquestion').removeClass("btn_inactive")
          $('#btn_topics').addClass("btn_inactive")
          $('#btn_topics').removeClass("btn_active")
        }
        function toggle_btndiscussions(){
          get_posts()
          $('#span_urquestion').addClass("is-hidden")
          $('#span_discussions').removeClass("is-hidden")
          $('#btn_urquestion').addClass("btn_inactive")
          $('#btn_urquestion').removeClass("btn_active")
          $('#btn_discussions').addClass("btn_active")
          $('#btn_discussions').removeClass("btn_inactive")
          $('#btn_topics').addClass("btn_inactive")
          $('#btn_topics').removeClass("btn_active")
          
        }
        function toggle_topics(){
          $('#span_urquestion').addClass("is-hidden")
          $('#span_discussions').addClass("is-hidden")
          $('#span_topics').removeClass("is-hidden")
          $('#btn_urquestion').addClass("btn_inactive")
          $('#btn_urquestion').removeClass("btn_active")
          $('#btn_discussions').addClass("btn_inactive")
          $('#btn_discussions').removeClass("btn_active")
          $('#btn_topics').addClass("btn_active")
          $('#btn_topics').removeClass("btn_inactive")
          
        }
        function toggle_sidebar(){
      
          $('#sidebar').toggleClass('is-hidden-mobile'); // Menambahkan atau menghapus kelas is-hidden-mobile
          $('.content').toggleClass('is-hidden-mobile')
          
        }

        function dropdown_menu(){
          $('#profile_drop').toggleClass('is-active')
        }

        function toggle_dropmenu(){
          $('#dropmenu_mobile').toggleClass('is-hidden-mobile')
          window.location.href = '/#dropmenu_mobile'
        }

        function sign_out(){
          $.removeCookie('my_token', {path : '/'});
          swal("Logged out", "You have logged out");
          window.location.href = '/login'; 
        }

      </script>
    <!-- Block untuk script JS -->
    {% block script %}
      
    {% endblock %}
</body>
</html>