<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forum Diskusi</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Forum Diskusi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">start discusion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">topik</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">notification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profil</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-4">
    <h1>welcome to forum beauty discusion</h1>
    <p>Forum ini adalah tempat untuk berbagi pengetahuan dan mengajukan pertanyaan.</p>

    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">consul</h5>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1">riwayat keluhan</h6>
              <small>1 jam yang lalu</small>
            </div>
            <p class="mb-1">answer section</p>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1">saran dari consul</h6>
              <small>2 jam yang lalu</small>
            </div>
            <p class="mb-1">answer section</p>
          </a>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">treatment and skincare</h5>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1-2-3">skincare</h6>
            </div>
            <p class="mb-1"> *acne    *brightening    *luminous </p>
             </a>
          
              
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h6 class="mb-1">treatment</h6>
                
                </div>
            <p class="mb-1">*facial   *chemical peeling  *laser</p>
             </a>
            
          <a href="#" class="list-group-item list-group-item-action">
            <div
