<div class="card w-100 p-5 my-3" style="border-radius: 3%;">
    <div class="card-body">
        <div class="d-flex flex-row mb-4">
            <a class="image is-48x48" href="/user/${post["username"]}">
                <img class="is-rounded" src="../static/${post["profile_pic_real"]}"
                    alt="Image">
            </a>
            <div class="d-flex flex-column mx-2">
                <p class="m-0 p-0">
                    <strong>${post["profile_name"]}</strong>                 
                </p>
                <p class="m-0 p-0">
                <small>@${post["username"]}</small> <small>${time_before}</small>      
                </p>   
            </div>
        </div>
        <hr class="separator" style="margin: 0%;">
        <div class="mt-5">
            <p class="h5 has-text-weight-bold">${post['title']}</p>
            <p style="padding-bottom:5%;">${post['question']}</p>
            <hr class="separator" style="margin:0%;">
            <p class="mt-4">topic : <a class="btn btn-success" style="padding:5px; margin:0px;">${post['topic']}</a></p>  
            <div class="d-flex justify-content-center">
                <img src="../static/${post['post_pic_real']}" alt="" style="object-fit: contain; height: 300px;">
            </div>
        </div>
    </div>
</div>
