{% extends 'base_after.html' %}
{% block head %}
    <title>Forum</title>
{% endblock %}
{% block title %}
    <p class="has-text-weight-bold">Forum</p>
{% endblock %}
{% block body %}
<div class="card w-100 p-5 my-3" style="border-radius: 3%;">
    <div class="card-body">
        <p>Title</p>
        <p>Question</p>
        <p>Topics</p>
        <div class="d-flex justify-content-center">
            <img src="../static/page_images/login.jpg" alt="" style="object-fit: contain; height: 300px;">
        </div>
        
    </div>
  </div>
  
{% endblock %}

{% block script %}
    <script src="../static/js/forum.js"></script>
    <script>
        $(document).ready(function () {
            $(".content").empty()
            get_posts()
           
            $("#popular-posts").empty()
            $("#must-read").empty()
            get_posts2()
          
        });
    </script>
{% endblock %}