{% extends 'base.html' %}
{% block head %}
    
{% endblock %}
{% block body %}
<div class="card" 
class="card-body">
<section class="hero is-large" style="background-image:url(../static/page_images/home.jpg); background-position: center; background-attachment: fixed; background-size: contain;">
  <div class="hero-body" style="background: linear-gradient(90deg, rgba(0, 0, 0, 0.856) 0%, rgba(0, 0, 0, 0.116) 100%);">
    <div class="">
      <p class="title text-white" style="font-size: 42px;">
        Welcome To Forum
        <br>
        Health & Beauty
      </p>
      <p class="subtitle w-50 text-white" style="font-size: large;" >
        This forum focuses on health and beauty topics to assist individuals facing health and beauty issues, and to simplify access to online doctor consultations for individuals encountering work-related challenges. 
      </p>

      <a href="/register" class="button is-white"> Get Started </a>
    </div>
  </div>
</section>
 
{% endblock %}