{% extends 'base.html' %}
{% block head %}
    <title>Login</title>
{% endblock %}
{% block body %}
<div class="d-flex flex-row row">
    <div class="col-lg-7 col-sm-9">
        <img src="../static/page_images/login.jpg" alt="" style=" object-fit: contain;">
    </div>
    
    <div class="p-5 my-5 col-lg-5 col-sm-3">
        <div class="d-flex flex-column justify-content-center pe-5 mb-3">
        <p class="h1 has-text-weight-bold">Login</p>
        <p>Please enter your credentials in this login form to access your account.
            This form serves as a login portal and requires your login details to proceed.</p>
        </div>
        <div class="d-grid me-lg-5 pe-lg-5 me-sm-0 pe-sm-0">
            <div class="mb-3">
                <input type="text" class="form-control" id="input_user" placeholder="Username">
                <p id="help-user-login" class="help is-danger"></p>
            </div>
            

            <div class="mb-3">
            <input type="password" class="form-control" id="input_pass" placeholder="Password">
            <p id="help-password" class="help is-danger"></p>
            </div>

            <button class="button is-primary" onclick="sign_in()">Login</button>
        </div>
          
        
    </div>

</div>
   
{% endblock %}

{% block script %}
    <script src="../static/js/login.js"></script>
{% endblock %}