{% extends 'base_after.html' %}
{% block head %}
    <title>Forum</title>
{% endblock %}
{% block title %}
    <p class="has-text-weight-bold">Forum</p>
{% endblock %}
{% block body %}
<div id="alert"></div>
<section id="discussion">
    <div class="card-body">
        <p>Title</p>
        <p>Question</p>
        <p>Topics</p>
        <div class="d-flex justify-content-center">
            <img src="../static/page_images/login.jpg" alt="" style="object-fit: contain; height: 300px;">
        </div>
        
    </div>

    <section>

    </section>
</section>
  
{% endblock %}

{% block script %}
    <script src="../static/js/forum.js" data-username="{{ user_info.username }}"></script>
    <script>
        $(document).ready(function () {
            
            get_posts_by_topic('{{ topic }}')
           
            $("#popular-posts").empty()
            $("#must-read").empty()
            get_posts2()

            var messageStatus = "{{ msg }}" || "";

            if (messageStatus.startsWith('Your post') && messageStatus.endsWith('has been deleted')) {
                showAlert(messageStatus);
            }else if( messageStatus.endsWith('admin')){
                showAlert(messageStatus);
            }     
        });
        // Fungsi untuk menampilkan pesan alert
        function showAlert(message) {
            // Buat elemen alert dengan pesan
            var alertElement = $('<div>').addClass('alert alert-danger').text(message);

            // Tambahkan elemen alert ke dalam div id alert
            $('#alert').prepend(alertElement);

            // Hilangkan alert setelah beberapa detik
            setTimeout(function() {
            alertElement.remove();
            }, 100000);
        }
    </script>
{% endblock %}